<div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-0">
        <ul class="nav nav-tabs main-nav mb-0" id="main-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if request.path == url_for('home') %}active{% endif %}" href="{{ url_for('home') }}">
                    <span class="nav-card-icon"><i class="bi bi-house-door-fill"></i></span> Trang Chủ
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if request.path == url_for('notes') %}active{% endif %}" href="{{ url_for('notes') }}">
                    <span class="nav-card-icon"><i class="bi bi-journal-richtext"></i></span> Ghi Chú
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-list" style="font-size: 1.5rem;"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Chức năng 1 (TBD)</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cài đặt (TBD)</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
